**/.idea
**/.vscode
**/.vs
**/.git
**/.gitignore
**/.dockerignore
**/.env
**/.coverage*
**/.celerybeat.pid*
**/__pycache__
**/*.py[cod]
**/node_modules
**/npm-debug.log
**/docker-compose*
**/Dockerfile*
.pytest_cache
htmlcov
logs
staticfiles
mediafiles
client/.next
client/out
